<footer class="foot">
  <div class="container">
    <section class="topics">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6>
            <a href="#" class="text-white">About us</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6>
            <a href="#!" class="text-white">Catergories</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6>
            <a href="#!" class="text-white">Feedbacks</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6>
            <a href="#!" class="text-white">Help</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6>
            <a href="#!" class="text-white">Contact</a>
          </h6>
        </div>
      </div>
    </section>
   <hr class="my-5" />
    <section class="desc">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p style="text-align: center; position: relative;bottom: 20px;">
            We learn together. We empower and inspire our learners, our partners, and ourselves to develop through the power of lifelong learning.
          </p>
        </div>
      </div>
    </section>
    <section class="foot social" style="text-align: center;position: relative;bottom: 20px;">
      <a class="sfb" href="#">
        <img src="assets/Images/facebook.png" alt="facebook" width="25" height="25"></a>
      <a class="sins" href="#">
        <img src="assets/Images/instagram.png" alt="instagram" width="25" height="25"></a>
      <a class="stw" href="#">
        <img src="assets/Images/twitter.png" alt="twitter" width="25" height="25"></a>
      <a class="sln" href="#">
        <img src="assets/Images/linkedin.png" alt="linkedin" width="25" height="25"></a>
      <a class="stel" href="#">
        <img src="assets/Images/telegram.png" alt="telegram" width="25" height="25"></a>
    </section>
  </div>
  <div class="foot cpr">Developed by Yelani Jayasooriya
  </div>
</footer>

