.signin{
    width:100%;
    height: 100%;
    background: rgb(193,4,106);
    background: linear-gradient(90deg, rgba(193,4,106,1) 0%, rgba(248,213,36,0.9724264705882353) 54%, rgba(250,249,143,1) 100%);
}

.container{
    width: 400px;
    height: 500px;
    padding: 20px 10px;
}
h1{
    font-family: 'Georgia', Times, serif;
    color: #fc87cf;  
    font-weight: bolder;
    text-align: center;
}
form{
    width:100%;
    height: 100%;
    padding: 40px 40px;
    position:sticky;
    background-color: rgb(124, 2, 104);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.log{
    color: hsl(323, 95%, 76%);  
    font-family: 'Georgia', Times, serif;
    padding-top: 10px;
}

.btn{
    
    background-color:#ffffff; 
    color: #79026f;
    border-color: #ffffff;
    font-family: 'Georgia', Times, serif;
    width: 100px;
    font-weight: bold;
    
}
    
.btn:hover{
    font-family: 'Georgia', Times, serif;
    background-color: hsl(323, 95%, 76%);
    color: #79026f;
    border-color: #79026f;
}