<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="'dashboard'">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="'/My_Learnings'">My Learnings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="'/Courses'">All Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="'/Courses'">Wish List</a>
    </li>
  </ul>
