<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="assets\Images\1.png" class="d-block w-100" alt="1">
    </div>
    <div class="carousel-item">
      <img src="assets\Images\2.png" class="d-block w-100" alt="2" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1>CATERGORIES</h1>
<div class="container">
 
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets\Images\c1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">BUSINESS COURSES</h5>
          <p class="card-text">Learn how to start multiple online businesses for passive income with the best e-commerce and print-on-demand strategies.</p>
          <a  class="btn btn-primary" routerLink='../business'>Popular courses</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets\Images\c2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">DESIGN COURSES</h5>
          <p class="card-text">Learn the most important building block of all art, Drawing. This course will teach you how to draw like a Professional.</p>
          <a class="btn btn-primary" routerLink='../design'>Popular courses</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets\Images\c3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">DEVELOPMENT COURSES</h5>
          <p class="card-text">Learn Computing languages like a Professional.Start from the basics and go all the way to creating your own applications and games.</p>
          <a class="btn btn-primary" routerLink='../development'>Popular courses</a>
        </div>
      </div>
    </div>
  </div>
</div>
